fastapi
uvicorn
supabase
python-dotenv
openai
httpx
pydantic
langgraph
langchain-openai
langchain-community
faiss-cpu
fastembed
youtube-transcript-api
google-api-python-client
PyGithub
pymupdf
pillow
matplotlib
pandas
seaborn
numpy<2.0.0
